{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration layout.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin layout.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<!-- BEGIN content -->
<div class="mainwrap">

  {# Include notice text block twig template #}
  {% include '@day_theme/includes/components/notice-text-block.html.twig' %}

  {# Include header twig template #}
  {% include '@day_theme/includes/header.html.twig' %}

  <div class="wrapper">
    {{ page.highlighted }}
    {{ page.help }}
  </div>

  <!-- classes should be on this main page  -->
  <main class="main searchResultPage photoArticle _gradient _rel-article-photo">
    <!-- Overlay for modal -->
    <div class="popup__overlay"></div>
    <div class="wrapper">

      {# Include hot topics tags twig template #}
      {% include '@day_theme/includes/components/hot-topics-tags.html.twig' %}

      {{ page.breadcrumb }}

    </div>

    {{ page.content }}

    <div class="_mob-visible">
      <div class="wrapper">

        {# Remove / replace #}
        {# Include partners news twig template #}
        {% include '@day_theme/includes/components/temp/partners-news.html.twig' %}
        {# Remove / replace #}

        {# Include poll block twig template #}
        {% include '@day_theme/includes/blocks/poll-block.html.twig' %}

      </div>
    </div>

    {# More photo reports materials #}
    {% if drupal_view_result('blocks_for_photoreports_page', 'block_4') is not empty %}

      <section class="photoPage__report _ofi-cover _img-scale">
        <div class="wrapper">
          <div class="section__title-wrap">
            <h2>{{ 'More photo reports'|t }}</h2>
          </div>

          {{ drupal_view('blocks_for_photoreports_page', 'block_4') }}

        </div>
      </section>

    {% endif %}

    {# More photo reports materials #}
    {% if drupal_view_result('last_videos_block', 'block_1') is not empty %}
      <section class="photoPage__video _ofi-cover _img-scale">
        <div class="wrapper">
          <div class="section__title-wrap">
            <h2>{{ 'Last videos'|t }}</h2>
            <a href="#">{{ 'All videos'|t }}</a>
          </div>
        </div>

        {{ drupal_view('last_videos_block', 'block_1') }}

      </section>
    {% endif %}

    {# Remove / replace #}
    {# Include sidebar 300px ad 3 twig template #}
    <div style="margin-bottom: 75px;">
      {% include '@day_theme/includes/components/temp/sidebar-300px-ad-3.html.twig' %}
    </div>
    {# Remove / replace #}

    <div class="wrapper">
      <div class="main__box">
        <div class="main__content">

          {# More photo reports materials #}
          {% if drupal_view_result('last_news_block', 'block_1') is not empty %}
            <section class="news__section _mob-hidden">
              <div class="section__title-wrap">
                <h2>{{ 'Last news'|t }}</h2>
              </div>

              {{ drupal_view('last_news_block', 'block_1') }}

            </section>
          {% endif %}

          {# Include temporary dark books section twig template #}
          {% include '@day_theme/includes/components/temp-books-section.html.twig' %}

        </div>

        <aside class="sidebar _mob-hidden">

          {# Remove / replace #}
          {# Include sidebar 300px ad twig template #}
          {% include '@day_theme/includes/components/temp/sidebar-300px-ad.html.twig' %}
          {# Remove / replace #}

          {# Editors choice block #}
          {{ drupal_block('views_block:editors_choice_block-block_1') }}

          {# Quote of the day block #}
          {{ drupal_block('views_block:quote_of_the_day-block_1') }}

        </aside>

        <aside class="sidebar _mob-visible">

          {# Include sidebar news tabs full block #}
          {{ drupal_block('day_full_tabs_news_block', wrapper=false) }}

          {# Editors choice block #}
          {{ drupal_block('views_block:editors_choice_block-block_1') }}

        </aside>
      </div>
    </div>

    {# Include subscribe twig template #}
    {% include '@day_theme/includes/components/subscribe.html.twig' %}

    {# Include custom cursor twig template #}
    {% include '@day_theme/includes/components/custom-cursor.html.twig' %}

    {# Include back to top twig template #}
    {% include '@day_theme/includes/components/back-to-top.html.twig' %}

    {# Include search modal twig template #}
    {% include '@day_theme/includes/components/search-modal.html.twig' %}

    <!-- This style and script need for page with lightbox gallery -->
    {{ attach_library('day_theme/lightbox-lib') }}
    <!-- This style and script need for page with lightbox gallery -->
  </main>

  {# Include footer twig template #}
  {% include '@day_theme/includes/footer.html.twig' %}

</div>
