{% set language_without_uk = language != 'uk' ? '/' ~ language : '' %}

<header class="header">
  <div class="header__top">
    <div class="wrapper">
      <div class="header__box">

        {# Include logo twig template #}
        {% include '@day_theme/includes/components/logo.html.twig' %}

        {# Include main menu twig template #}
        {% include '@day_theme/includes/components/main-menu.html.twig' %}

        <div class="header__dropdown dropdown">

          {% set lang_list = {'uk': 'укр', 'ru': 'рус'} %}

          <div class="header__dropdown-text" data-type="{{ lang_list[language] }}">{{ lang_list[language] }}</div>
          <ul class="header__dropdown-content">
            {% for langcode, lang_url in custom_lang_switcher %}
              <li><a href="{{ base_url ~ lang_url }}">{{ lang_list[langcode] }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <button class="header__btn search popup-trigger" data-popup-trigger="search">
          <svg class="icon icon-search">
            <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <a href="{{ language_without_uk }}/user" class="header__btn user">
          <svg class="icon icon-user">
            <use xlink:href="/themes/custom/day_theme/assets/imgs/sprite.svg#icon-user"></use>
          </svg>
        </a>
        <div class="divider _mob-hidden"></div>
        <!-- Thib link dublicated on footer on mobile devices  -->
        <a class="header__link _mob-hidden" href="https://old.day.kyiv.ua/uk/peredplata">{{ 'Subscription'|t }}</a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <nav class="header__nav-bottom nav">
      <div class="wrapper">
        <div class="nav__box">
          <div class="nav__box-left">

            {% if menu_news_tags %}
              <div class="nav__col">
                <h2> {{ 'News'|t }} </h2>

                {# Include menu news category twig template #}
                {% include '@day_theme/includes/components/menu-news-tags.html.twig' %}

              </div>
            {% endif %}

            <div class="nav__col">
              <h2> {{ 'Newspaper'|t }} </h2>

              {# Include menu news category twig template #}
              {% include '@day_theme/includes/components/menu-archive-tags.html.twig' %}

            </div>
            <div class="nav__col nav__col-heading">
              <ul class="nav__list">
                <li>
                  <a href="{{ language_without_uk }}/blogs">
                    <h2>{{ 'Authors blogs'|t }}</h2>
                  </a>
                </li>
                <li>
                  <a href="{{ language_without_uk }}/photo-reports">
                    <h2>{{ 'Photo'|t }}</h2>
                  </a>
                </li>
                <li>
                  <a href="{{ language_without_uk }}/video">
                    <h2>{{ 'Video'|t }}</h2>
                  </a>
                </li>
                <li>
                  <a href="{{ language_without_uk }}/newspapers-archive">
                    <h2>{{ 'Archive'|t }}</h2>
                  </a>
                </li>
              </ul>
              <div class="nav__col">
                <h2>{{ 'Shop'|t }}</h2>
                <ul class="nav__list">
                  <li>
                    <a href="https://old.day.kyiv.ua/{{ language }}/library">{{ 'Where to buy books of the day'|t }}</a>
                  </li>
                  <li>
                    <a href="https://old.day.kyiv.ua/{{ language }}/dostavka">{{ 'Delivery and payment'|t }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="nav__box-right">
            <div class="nav__col">
              <h2>{{ 'Editorial office'|t }}</h2>
              <ul class="nav__list">
                <li>
                  <a href="#">{{ 'Contacts'|t }}</a>
                </li>
                <li>
                  <a href="#">{{ 'Editor in Chief'|t }}</a>
                </li>
                <li>
                  <a href="#">{{ 'Vacancies'|t }}</a>
                </li>
                <li>
                  <a href="#">{{ 'Advertising'|t }}</a>
                </li>
                <li>
                  <a href="https://old.day.kyiv.ua/{{ language }}/catalog/peredplatiti-gazetu">{{ 'Subscription'|t }}</a>
                </li>
              </ul>
            </div>
            <div class="nav__col">
              <h2>{{ 'Project of the day'|t }}</h2>
              <ul class="nav__list">
                <li>
                  <a
                    href="https://old.day.kyiv.ua/{{ language }}/catalog/peredplatiti-gazetu">{{ 'The Day Charitable Foundation'|t }}</a>
                </li>
                <li>
                  <a href="http://incognita.day.kyiv.ua/">{{ 'Ukraine Incognita'|t }}</a>
                </li>
                <li>
                  <a href="#">{{ 'Photo exhibition'|t }}</a>
                </li>
                <li>
                  <a href="#">{{ 'Photo contest'|t }}</a>
                </li>
                <li>
                  <a href="#">{{ 'Summer school of journalism'|t }}</a>
                </li>
                <li>
                  <a href="#">{{ 'James Mace Award'|t }}</a>
                </li>
              </ul>
              <div class="nav__logo">
                <img src="/themes/custom/day_theme/assets/imgs/logo-nav.svg"
                     alt="{{ 'The newspaper &quot;Day&quot;'|raw|t }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
