{% if drupal_view_result('photoreports_block_in_homepage', 'block_1') is not empty %}
  {% set language = language != 'uk' ? '/' ~ language : '' %}

  <section class="photo__section red _photo">
    <div class="section__title-wrap">
      <h2>{{ 'Photoreports'|t }}</h2>
      <a href="{{ language }}/photo-reports">{{ 'All photoreports'|t }}</a>
    </div>

    <div class="grid-row">
      {{ drupal_view('photoreports_block_in_homepage', 'block_1') }}
    </div>

    <!-- This link only for mobile devices -->
    <div class="_mob-visible book__link">
      <a href="{{ language }}/photo-reports">{{ 'All photoreports'|t }}</a>
    </div>

  </section>
{% endif %}
